repos:
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: ./scripts/format.sh --check
        language: system
        stages: [pre-push]
        pass_filenames: false
        types: [c, c++]
      
      - id: clang-tidy
        name: clang-tidy
        description: "Requires build directory with compile_commands.json to exist. Please build the project before pushing."
        entry: ./scripts/lint.sh
        language: system
        stages: [pre-push]
        pass_filenames: false
        types: [c, c++]
